<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bm.photoview">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImgActivity"
            android:label="@string/title_activity_img" />
        <activity
            android:name=".ViewPagerActivity"
            android:label="@string/title_activity_view_pager" />
        <activity
            android:name=".ImgClick"
            android:label="@string/title_activity_img_click" />
        <activity
            android:name=".PhotoBrowse"
            android:label="@string/title_activity_photo_browse" />
        <activity android:name=".ImageViewActivity" />
        <activity android:name=".ImageTransformActivity"></activity>
    </application>

</manifest>
